body {
    background-color: #E6EFF6;
}

.container {
    box-sizing: border-box;
    display: grid;
    width: 730px;
    height: 530px;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a a"
                         "b c";
    border-radius: 5px;
    margin: 100px auto;
    font-family: 'Karla', sans-serif;
    box-shadow: 0px 8px 17px -4px rgba(0,0,0,0.9);
    -webkit-box-shadow: 0px 8px 17px -4px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 8px 17px -4px rgba(0,0,0,0.9);
}

.box {
    padding: 45px;
}

.a {
    grid-area: a;
    box-sizing: border-box;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
}

.a h2 {
    font-size: 25px;
    font-weight: 700;
    color: hsl(179, 62%, 43%);
    margin-bottom: 25px;
}

.a .green-text {
    font-weight: 600;
    color: hsl(71, 73%, 54%);
    margin-bottom: 15px;
}

.a .more {
    line-height: 1.4;
    color: hsl(218, 22%, 67%);
}

.b {
    grid-area: b;
    box-sizing: border-box;
    background-color: hsl(179, 62%, 43%);
    color: white;
    border-bottom-left-radius: 5px;
}

.b h5 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;
}

.b .price-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.b .price {
    font-size: 29px;
    font-weight: 500;
    margin-right: 10px;
}

.b .price-timing{
    color: hsl(204, 43%, 93%);
    opacity: 0.75;
}

.b .more {
    opacity: 0.75;
    font-size: 19;
    letter-spacing: 0.5px;
}

.b .sign-up-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 40px;
    height: 60px;
    font-size: 19px;
    font-weight: 600;
    background-color: hsl(71, 73%, 54%);
    /* box-shadow: 0px 8px 17px -4px rgba(0,0,0,0.9);
    -webkit-box-shadow: 0px 8px 17px -4px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 8px 17px -4px rgba(0,0,0,0.9); */
}

.b .sign-up-btn:hover {
    background-color: hsl(71, 73%, 65%);
}

.c {
    box-sizing: border-box;
    grid-area: c;
    background-color: #4ABDBD;
    border-bottom-right-radius: 5px;
}

.c h5 {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;
}

.c li {
    line-height: 1.5;
    list-style: none;
    color: hsl(204, 43%, 93%);
    opacity: 0.75;
}

@media (max-width: 45rem) {
    .container {
    width: calc(100vw - 2em);
    min-height: 100vh;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "a"
    "c"
    "b";
    margin: 10px auto;
    }

    .a, .b, .c {
        border-radius: 0px;
    }
  }